CommandService/src/CommandService/bin
CommandService/src/CommandService/obj
CommandService/src/CommandService/Readme.md
CommandService/src/CommandService/serverless.template

CommandService/test/CommandService.Tests/bin
CommandService/test/CommandService.Tests/obj

DDBStreamConsumer/src/DDBStreamConsumer/bin
DDBStreamConsumer/src/DDBStreamConsumer/obj

Common/bin
Common/obj

CourseProjector/src/CourseProjector/bin
CourseProjector/src/CourseProjector/obj

CoursesByStudentProjector/src/CoursesByStudentProjector/bin
CoursesByStudentProjector/src/CoursesByStudentProjector/obj